<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go kroz primere</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go kroz primere</a></h2>
      <p>
        <a href="https://go.dev">Go</a> je
        open-source programski jezik dizajniran za
        skalabilan, siguran i robustan softver.
        Molim sve da pročitaju
        <a href="https://go.dev/doc/tutorial/getting-started">zvaničnu dokumentaciju</a>
        za više informacija.
      </p>

      <p>
        <em>Go kroz primere</em> je uvod u Go jezik
        koristeći se raznim primerima. Baci pogled na
        <a href="hello-world">prvi primer</a> ili
        pogledaj celu listu ispod.
      </p>

      <p>
        Ako nije suprotno rečeno, ovi primeri koriste
        <a href="https://go.dev/doc/devel/release">poslednju verziju Go-a</a>
        i mogu koristiti neke nove funkcionalnosti. Pokušaj da upgrade-uješ
        verziju jezika ako nešto ne radi.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
